.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 160px;
    height: 48px;
}
.headerM{
    list-style: none;
    display: flex;
    gap: 32px;
    color: white;
}

.headerM li:hover{
    cursor: pointer;
    color: orange
}